<!DOCTYPE html>
<html>
  <%- include('header'); -%>
  <body>
    <ul>
      <% categories.forEach(category => { %>
      <li><a href="<%= category.url %>"><%= category.category_name %></a></li>
      <% }) %>
    </ul>
    <div>I work! Should be listing categories.</div>
    <a href="/">Main menu</a>
  </body>
</html>
