<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <h2>Category name:</h2>
    <div><%= category.category_name %></div>
    <h2>Category description:</h2>
    <div><%= category.category_description %></div>
    <br />
    <div>I work! Should be category details.</div>
  </body>
</html>
