<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <% if (to_delete === undefined) { %>
    <form action="" method="post">
      <button type="submit">Will delete the category</button>
    </form>
    <% } else { %> <% to_delete.forEach(item => { %>
    <div><%= item.item_name %></div>
    <% }) %> <% } %>
  </body>
</html>
