<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>
  <body>
    <form action="" method="post">
      <button type="submit">
        Will delete the item <%= deleted_item.item_name %>
      </button>
  </body>
</html>