<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <ul>
      <% items.forEach(item => { %>
      <li><a href="<%= item.url %>"><%= item.item_name %></a></li>
      <em> --- <%= item.item_description %></em>
      <br />
      <% }) %>
    </ul>
    <div>I work! Should be listing items.</div>
    <a href="/">Main menu</a>
  </body>
</html>
